#mainNav{
  margin: 0px, 0px, 100px, 0px;
  background-color:#F1C7C7;
}

.jumbotron{
  margin: 0px,0px, 0px, 100px;
  background-color: #F1C7C7;
}
#mainCon {
  background-color: #C18DA2;
  margin: 135px auto 30px auto;
}

#profIMG {
  width: 200px;
  height: 250px;
  margin: 10px auto;
  display: block;
}
#profiles {
  outline: 5px solid  white;
  text-align: center;
  display: block;
}
#LogoIMG {
  height: 80px;
  width: 150px;
}

#readMore {
  color: black;
  font-weight: bold;
  padding-bottom: 20px;
}

#exampleModal {
  
}
